.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 25px;
   margin-right: 25px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;   
}
.login-button{
    border: 0px;
    font-size: 20px;
    width: 120px;
    padding: 8px;
    background-color: tomato;
    cursor: pointer;
}