.destination-form{
    justify-content: flex-start;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    padding: 15px;
}
.destination-form input{
    border: 0;
}