.signup-form{
    border: 1px solid tomato;
    width: 50%;
    margin-top: 50px;
    height: 80vh;
    margin-left: 20%;
}
.input{
    border: 0;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    width: 500px;
}