.signup-form{
    width: 50%;
    margin-top: 50px;
    padding-top: 10px;
    height: 65vh;
    margin-left: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input{
    border: 0;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    width: 500px;
}