body{
  background-image: url(../src/photo/Bg.png);
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center; 
}
